<template>
  <div>
    <md-toolbar class="md-primary">
      <h1 class="md-title" style="flex: 1">Backstreet Academy</h1>

      <md-button v-on:click="logout">Logout</md-button>
    </md-toolbar>
  </div>
</template>

<script>
export default {
  name: 'Home',
  created() {
    const token = sessionStorage.getItem('token');

    if (!token) {
      this.$router.replace('/login')
    }
  },

  methods: {
    logout() {
      sessionStorage.removeItem('token')
      this.$router.push('/login')
    }
  },
}
</script>
