<template>
  <div class="md-layout md-alignment-center-center">
    <div class="md-layout-item md-size-25">
      <md-toolbar class="md-primary">
        <h1 class="md-title">Login</h1>
      </md-toolbar>

			<md-content class="content">
        <form v-on:submit.prevent="submit">
          <md-field>
            <label>Email</label>
            <md-input v-model="payload.email" required></md-input>
          </md-field>

          <md-field>
            <label>Password</label>
            <md-input v-model="payload.password" required></md-input>
          </md-field>

          <div v-if="error">
            {{error}}
          </div>

          <md-button type="submit" class="md-raised md-primary">Login</md-button>
          <md-button v-on:click="goToRegisterPage">Register</md-button>
        </form>
			</md-content>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Login',

  data() {
    return {
      error: null,
      payload: {
        email: null,
        password: null,
      }
    }
  },

	methods: {
		submit() {
      axios.post('/api/token', this.payload)
        .then(({ data }) => {
          sessionStorage.setItem('token', data.result.token);

          this.$router.push('/')
        })
        .catch(({ response }) => {
          this.error = response.data.error
        })
    },

    goToRegisterPage() {
      this.$router.push('/register')
    }
	}
}
</script>

<style scoped>
.content {
  padding: 0 20px;
}
</style>
