<template>
  <div class="md-layout md-alignment-center-center">
    <div class="md-layout-item md-size-25">
      <md-toolbar class="md-accent">
        <h1 class="md-title">Register</h1>
      </md-toolbar>

			<md-content class="content">
        <form v-on:submit.prevent="save">
          <md-field>
            <label>Email</label>
            <md-input v-model="payload.email" required></md-input>
          </md-field>

          <md-field>
            <label>Password</label>
            <md-input v-model="payload.password" required></md-input>
          </md-field>

          <div v-if="error">
            {{error}}
          </div>

          <md-button type="submit" class="md-raised md-accent">Save</md-button>
          <md-button v-on:click="goToLoginPage">Cancel</md-button>
        </form>
      </md-content>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Register',
  data() {
    return {
      error: null,
      payload: {
        email: null,
        password: null
      },
    }
  },

  methods: {
    save() {
      axios.post('/api/me', this.payload)
        .then(({ data }) => {
          this.$router.push('/login')
        }).catch(({ response }) => {
          this.error = response.data.error
        })
    },

    goToLoginPage() {
      this.$router.push('/login')
    }
  }
}
</script>

<style scoped>
.content {
  padding: 0 20px;
}
</style>
